$shadow: hsla(218, 50%, 10%, 0.1);

.mls-select-with-auto-complete {
    // .mls-menu {
    //     position: absolute;
    //     width: 30rem;
    //     margin-top: 8px;
    //     border-radius: 4px;
    //     box-shadow: 10px 0px 0px 1px $shadow, 0px 4px 11px $shadow;
    // }

    .mls-react-select {
        width: 30rem;
    }

    .mls-react-select-__menu {
        margin-top: 8px
    }

    .mls-react-select-__menu-list {
        overflow-y: hidden;
    }

    .mls-react-select-__option {
        span.fi {
            margin-right: 0.7rem;
        }
    }

    .mls-react-select-__control::before {
	content: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg viewBox='0 0 21 21' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.436 15.085l3.94 4.01a1 1 0 0 1-1.425 1.402l-3.938-4.006a7.5 7.5 0 1 1 1.423-1.406zM10.5 16a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11z' fill='currentColor' fillRule='evenodd' /%3E%3C/svg%3E");
        width: 1.1rem;
        margin-left: 0.8rem;
    }

    .mls-react-select-__value-container {
    }

    .mls-react-select-__placeholder {
    }
}

.mls-select-with-auto-complete {
    button.mls-select-button {
        margin-bottom: 0.2rem;
        max-width: 20rem;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0.4rem 1rem;

        .btn-label {
            font-size: 1rem;
        }

        svg.btn-icon {
            margin-left: 0.5rem;
            width: 10px;
        }
    }
}
