.mls-select-with-auto-complete {
    button.mls-select-button {
        svg.btn-icon {
            margin-left: 0.4rem;
            width: 8px;
        }
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .mls-react-select {
    }

    .mls-react-select-__menu {
    }

    .mls-react-select-__menu-list {
    }

    .mls-react-select-__input-container { // search box over placeholder
    }

    .mls-react-select-__option {
        padding: 6px 10px;
        span.fi {
            margin-right: 1rem;
            width: 1.5rem;
        }
    }

    .mls-react-select-__control::before {
        width: 1.3rem;
        margin-left: 0.3rem;
	content: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg viewBox='0 0 21 21' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.436 15.085l3.94 4.01a1 1 0 0 1-1.425 1.402l-3.938-4.006a7.5 7.5 0 1 1 1.423-1.406zM10.5 16a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11z' fill='currentcolor' fillRule='evenodd' /%3E%3C/svg%3E");
    }

    .mls-react-select-__control {
    }

    .mls-react-select-__value-container {
    }

    .mls-react-select-__placeholder {
    }
}
